NODE_ENV=development
APP_PREFIX=api
APP_PORT=3000

# DATABASE Configuration
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=ecommerce
DATABASE_MAX_CONNECTIONS=100
DATABASE_SYNCHRONIZE=false
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

#JWT_SECRET
JWT_SECRET="I have a dream hehe"
